---
import { ViewTransitions } from "astro:transitions";
import { fade } from "astro:transitions";
import { SEO } from "astro-seo";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Soc, Urls, StructuredSchema } from "../data/Constants.astro";
import "../styles/global.css";

interface Props {
	title: string;
	one?: boolean;
	two?: boolean;
}

const { title, one, two } = Astro.props;
---

<!doctype html>
<html transition:animate="none" lang="en">
	<head>
		<meta charset="utf-8" />
		<!-- <meta name="description" content={seoDescription} /> -->
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={Urls.LogoImg} />
		<link rel="apple-touch-icon" href={Urls.LogoImg} />
		<meta name="robots" content="index, follow" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta
			name="keywords"
			content="Flutter, Firebase, cross-platform app, developer, mobile app, real-time data, cloud firestore, cloud function, authentication, security rules, ios, android, web, cloud, cost-effective, stunning, performance, expertise, figma, stunning, time, commited, consistent"
		/>

		<script type="application/ld+json" set:html={StructuredSchema} />

		<meta name="generator" content={Astro.generator} />
		<title>
			{title}
		</title>
		<ViewTransitions />

		<SEO
			title={Soc.SeoTitle}
			description={Soc.SeoDescription}
			canonical={Soc.SharkRun}
			openGraph={{
				basic: {
					title: Soc.SeoTitle,
					type: "website",
					image: Urls.SeoImg,
					url: Soc.SharkRun,
				},
				optional: {
					locale: "en_IN",
					siteName: Soc.HariKrishnan,
				},
			}}
			twitter={{
				creator: Soc.CodeHariK,
				card: "summary_large_image",
				site: Soc.CodeHariK,
				title: Soc.SeoTitle,
				description: Soc.SeoTitle,
				image: Urls.SeoImg,
				imageAlt: Soc.SeoTitle,
			}}
			extend={{
				// extending the default link tags
				link: [{ rel: "icon", href: Urls.LogoImg }],
				// extending the default meta tags
				meta: [],
			}}
		/>
	</head>
	<body
		class={`${one ? "h-full" : ""} ${two ? "h-screen" : ""} flex flex-col items-center bg-white dark:bg-gray-900 text-gray-900 dark:text-white`}
	>
		<Header />
		<main
			class={`w-full items-center text-center ${two ? "h-full overflow-y-scroll" : ""}`}
			transition:animate={fade({ duration: "0.4s" })}
		>
			<slot />
		</main>
		<Footer />
	</body>
</html>

<script is:inline>
	function colorMode() {
		if (
			localStorage.getItem("theme") === "dark" ||
			(!("theme" in localStorage) &&
				window.matchMedia("(prefers-color-scheme: dark)").matches)
		) {
			document.documentElement.classList.add("dark");
		} else {
			document.documentElement.classList.remove("dark");
		}
	}

	colorMode();
	document.addEventListener("astro:after-swap", colorMode);
</script>
